;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Mon Mar 19 22:42:23 2012
;; Desktop file format version 206
;; Emacs version 23.4.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/.emacs" "~/.emacs.d/configs/" "~/CODING/test.lua" "~/CODING/Lua/test.lua"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Users/artemart/.emacs"
  ".emacs"
  'emacs-lisp-mode
  '(linum-mode)
  945
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "configs"
  'dired-mode
  '(linum-mode)
  899
  '(nil nil)
  t
  '("/Users/artemart/.emacs.d/configs/")
  nil)

(desktop-create-buffer 206
  "/Users/artemart/CODING/test.lua"
  "test.lua<2>"
  'fundamental-mode
  '(linum-mode)
  1
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 206
  "/Users/artemart/CODING/Lua/test.lua"
  "test.lua"
  'fundamental-mode
  '(linum-mode)
  1
  '(nil nil)
  nil
  nil
  nil)

